[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
    ignore = dirty
[submodule "lib/metricq"]
	path = lib/metricq
	url = https://github.com/metricq/metricq-cpp.git
    ignore = dirty
